@charset "UTF-8";

/* Estilo para o header fixo */
header.p-3.mb-3.border-bottom {
  background-color: black;
  width: 100%;
  color: white;
  position: fixed; /* Manter o header fixo no topo */
  top: 0; /* Garantir que o header fique no topo */
  left: 0; /* Garantir que o header ocupe toda a largura */
  z-index: 1000; /* Manter o header acima de outros elementos */
}

/* Espaçamento para a área "Bem-Vindo" */
.bem-vindo {
  margin-right: 20px;
}

/* Espaçamento para o dropdown */
.dropdown {
  margin-right: 20px;
}

/* Espaçamento para o formulário de logout */
#contactForm {
  margin-left: 20px;
}

/* Outras estilizações */
.div_pensando {
    border-style: solid;
    width: 100%;
    height: 450px;
    border: 3px solid blue;
    box-sizing: border-box;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.div_noticias,
.div_feed,
.div_post {
    border: 3px solid blue;
    box-sizing: border-box;
}

.comentario {
    width :80%;
}

.btn-custom-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
}

.text-bg-primary {
    background: linear-gradient(90deg, #007bff, #00aaff);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

 h3.text-bg-primary {
            background: linear-gradient(90deg, #007bff, #00aaff);
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 1.5rem;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px 0;
            text-align: center;
            transition: background 0.3s ease, box-shadow 0.3s ease;
        }

h3.text-bg-primary:hover {
            background: linear-gradient(90deg, #0056b3, #003d7a);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }

.comentario_usuario {
    color:blue;
}

.comentario_data{
    text-align: right;
    display: block;
}

.comments {
    border-bottom: 1px solid #000; /* Define uma linha preta de 1px */
    padding-bottom: 10px;
}