<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="page">
        <form action="{{ url_for('login') }}" method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" autofocus="true"/>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required minlength="8" />
            <a href="/pagina_registro">Cadastre-se</a>
            <input type="submit" value="Acessar" class="btn" />
            {%set menssagem = get_flashed_messages() %}
            {% if menssagem %}
                <div class="flash_alerta">
                    {{menssagem[0]}}
                </div>
            {% endif %}
        </form>
    </div>

</body>
</html>